db.sqlite3
the_eye/__pycache__/__init__.cpython-39.pyc
env/
the_eye/__pycache__/settings.cpython-39.pyc
the_eye/__pycache__/urls.cpython-39.pyc
the_eye/the_eye/__pycache__/models.cpython-39.pyc
the_eye/the_eye/__pycache__/serializers.cpython-39.pyc
the_eye/the_eye/__pycache__/views.cpython-39.pyc
the_eye/the_eye/__pycache__/__init__.cpython-39.pyc
the_eye/__pycache__/wsgi.cpython-39.pyc
the_eye/migrations/__init__.py
.gitignore
the_eye/migrations/0001_initial.py
the_eye/migrations/__pycache__/__init__.cpython-39.pyc
the_eye/migrations/__pycache__/0001_initial.cpython-39.pyc
the_eye/migrations/__pycache__/0002_event_name_alter_event_category_and_more.cpython-39.pyc
